#
# See ../../.gitignore for Copyright and License
#

# Track all Makefiles except for the top-level one.
!Makefile
/Makefile

/main.pdf

# Inkscape generates PDFs from SVG files.
/img/*.pdf
/img/*.pdf_tex
