#
# C++ project files
#
*.a
*.app
*.dll
*.dylib
*.exe
*.gch
*.la
*.lai
*.lib
*.lo
*.mod
*.o
*.obj
*.out
*.pch
*.slo
*.so

#
# Profiling files
#
massif.out.*

/dac
/dc-merge-sort
/fddc-merge-sort
/lib-sort
/merge-sort
/stack
