#
# C++ project files
#
*.a
*.app
*.dll
*.dylib
*.exe
*.gch
*.la
*.lai
*.lib
*.lo
*.mod
*.o
*.obj
*.out
*.pch
*.slo
*.so

#
# Testing and profiling files
#
*.log
*.log[0-9]
/.tmp
/benchmark-reduce.log.*
/benchmark.log.*
massif.out.*

/dac-float
/dac-int
/dc-merge-sort
/fddc-merge-sort
/lib-sort
/merge-sort
/stack
/std-stable-sort-list-int
/std-stable-sort-vector-int
