#
# C++ project files
#
*.a
*.app
*.dll
*.dylib
*.exe
*.gch
*.la
*.lai
*.lib
*.lo
*.mod
*.o
*.obj
*.out
*.pch
*.slo
*.so

#
# Testing, profiling, static analysis
#
massif.out.*
*.plist

/skel-n-queens
